---
interface props {
  numero: number;
  pregunta: string;
  respuesta: string;
}

const { numero, pregunta, respuesta } = Astro.props;
---

<div class="flip-card text-white">
  <div class="flip-card-inner noActive">
    <div class="flip-card-front bg-morado-texto">
      <p class="text-12xl font-bold line-custom">{numero}</p>
      <p>Click</p>
    </div>
    <div class="flip-card-back">
      <p class="text-center font-semibold text-xl md:text-2xl">{pregunta}</p>
      <div class="mt-6 flex gap-4 items-center justify-center" data-number={numero}>
        <button class="py-2 px-4 bg-white rounded-3xl text-morado-texto font-bold flex-1 text-center" data-res="verdadero">VERDADERO</button>
        <button class="py-2 px-4 bg-rosado rounded-3xl text-white font-bold flex-1 text-center" data-res="falso">FALSO</button>
      </div>
    </div>
  </div>
</div>


