---
import data from '../../public/data/data.json';
import Card from '../components/Card.astro';
---

<section class="flex gap-8 flex-wrap justify-center py-8" >
    
    {
        data.map((item) => {
            return (
                <Card numero={item.numero} pregunta={item.pregunta} respuesta={item.respuesta_correcta} />
            )
        })
    }
</section>
