---
import { URL_BASE } from "../config";
---

  <div>
    <img class="w-full" src={URL_BASE + "img_principal.webp"} alt="Imagen principal">
  </div>
  <div class="bg-rosado-oscuro text-white text-4xl py-8 px-16">
    <p><span class="text-morado-texto font-semibold">Este aplicativo tiene como objetivo promover, de 
      manera lúdica, conocimientos clave sobre salud 
      sexual y reproductiva,</span> que les sirvan de herramienta 
      a los estudiantes universitarios para llevar una vida 
      sexual responsable y sana.</p>
  </div>
  <div class="py-8 px-16 flex justify-between items-center">
    <article>
      <a href={URL_BASE + "app/"} class="btn-morado text-3xl"><span class="font-semibold">HAZ CLIC AQUÍ</span> PARA EMPEZAR</a>
    </article>
    <article>
      <img class="w-80" src={URL_BASE + "logo_educando.webp"} alt="Logo educando al futuro">
    </article>
  </div>